<a
  queryParamsHandling="preserve"
  uiRowLink
  [attr.data-holding-id]="holding().id"
  [current]="open()"
  [routerLink]="['/holdings', holding().id]"
>
  {{ holding().instrumentName }}
</a>
<span uiCellSub>
  @if (holding().isin || holding().symbol; as reference) {
    {{ reference }} &middot;
  }
  {{ 'enums.assetClass.' + holding().assetClass | transloco }}
  @if (manual()) {
    &middot; {{ 'enums.priceSource.MANUAL' | transloco }}
  }
</span>
@if (foreignCurrency(); as currency) {
  <span uiCellSub>{{ 'holdings.foreignQuote' | transloco: { currency } }}</span>
}
